<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EaysDrop</title>
    
    <link rel="stylesheet" href="../static/index.css">

</head>

<body>

    <!-- Navbar -->
    <header class="navbar">
        <div class="logo-title">
            <img src="../static/img/logo.png" alt="EasyDrop Logo" class="logo">
            <h1 class="site-title" >EasyDrop</h1>
        </div>

        <nav class="nav-links">
            <ul>
                <li><a href="#">Upload</a></li>
                <li><a href="#">Downloads</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">About</a></li>
                <li>
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a href="{% url 'login' %}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>


        
    {% if user.is_authenticated %}
    <p class="greeting">Hi {{ user.username }}</p>
    

    <!-- Blog Posts -->
    <div class="container">
        <div class="blog-container">
            {% for post in posts reversed %}
            <div class="post">
                <div class="post-header">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <div class="post-meta">
                        <span class="post-date">{{ post.created_at }}</span>
                    </div>
                </div>
                <div class="post-body">
                    <a href="/post/{{ post.id }}">{{ post.body|truncatewords:20 }}</a>
                </div>
            </div>
            {% empty %}
            <div class="no-posts">
                <p>No blog posts available yet.</p>
            </div>
            {% endfor %}
        </div>
    </div>

    {% endif %}

</body>
</html>