<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EaysDrop</title>
    
    <link rel="stylesheet" href="../static/index.css">

</head>

<body>
    <h1 class="sitename">Clarity

        {% if user.is_authenticated %}
         hi {{user.username}}
        {%endif%}
  

      </h1>
      <p>Test</p>

    {% if user.is_authenticated %}

      <a class="btn-getstarted" href="logout">Logout</a>

      {%else%}

      <a class="btn-getstarted" href="login">Login</a>

      {%endif %}

    <div class="container">
        <div class="blog-container">
            {% comment %} {% for post in posts %} um lisst von oben nach unten {% endcomment %}
            {% for post in posts reversed%}
            <div class="post">
                <div class="post-header">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <div class="post-meta">
                        <span class="post-date">{{ post.created_at }}</span>
                    </div>
                </div>
                <div class="post-body">
                    <a style ="text-decoration: none; color: black" href="/post/{{post.id}}">
                        {{ post.body| truncatewords:20 }}

                    </a>
                </div>
            </div>
            {% empty %}
            <div class="no-posts">
                <p>No blog posts available yet.</p>
            </div>
            {% endfor %}
        </div>
    </div>
    
</body>
</html>