<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>
<link rel="stylesheet" href="../static/index.css">
</head>    

<body class="auth-page">
    <div class="auth-container">
        <h1>Login</h1>
        <p>Willkommen zurück</p>

        {% for message in messages %}
        <div class="message error">{{ message }}</div>
        {% endfor %}

        <form method="POST" action="login" class="auth-form">
            {% csrf_token %}

            <div class="form-group">
                <label for="username">Benutzername:</label>
                <input type="text" name="username" id="username" required>
            </div>

            <div class="form-group">
                <label for="password">Passwort:</label>
                <input type="password" name="password" id="password" required>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <a class="btn-getstarted" href="register">Noch keinen Account? Registrieren</a>
    </div>
</body>
</html>